@import "tailwindcss";

:root {
  --bg-main: #f6f7fb; /* soft grey */
  --card-bg: #ffffff;

  --lavender: #ede7f6;
  --baby-blue: #eaf4ff;
  --soft-pink: #fdeaf2;
  --soft-yellow: #fff8e1;

  --text-main: #2a2a2a;
  --text-muted: #6b7280;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
